main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

form {
    background: #f2f2f2;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}
.caja{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    
}
.pegata{
    width: 150px;
}
.text{
    flex: 1;
    padding: 6px;
}